<div class="row">
    <div class="col-md-12">
        <div class="center-div">
            <h1>Oops!</h1>
            <h2>error message : {{message}}</h2>
            <div class="error-details">
                Sorry, an error has occured!
            </div>
        </div>
    </div>
</div>