<html>
    <title>registration</title>
    <body>
        <h1>registration Page</h1>
        <table>
            <form action="reg" method="POST">
                <tr>
                    <td><input type="text" name="name" placeholder="name" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="empNo" placeholder="Emp No" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="post" placeholder="Post" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="email" placeholder="email" /></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="password" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="salary" placeholder="salary" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="submit" /></td>
                </tr>

            </form>
        </table>
    </body>
</html>